:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* Primary Colors */

  --color-secondary: #FFD700; /* Gold */
  --color-secondary-light: #FFC107; /* Lighter Gold */
  --color-text-light: #ffffff; /* White text */
  --color-text-dark: #000000; /* Black text */

    /* Backgrounds */
  --color-background-light: #333; /* Dark gray background */
  --color-background: #242424; /* Light gray background */

    /* Accent Colors */
  --color-accent: #007bff; /* Blue accent */
  --color-accent-hover: #0056b3; /* Darker blue */

  color-scheme: light dark;
  background-color: var(--color-background);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-secondary: #FF8C00; /* Darker Gold/Orange for better contrast */
    --color-secondary-light: #FFA500; /* Light Orange */
    --color-text-light: #000000; /* Black text */
    --color-text-dark: #ffffff; /* White text for dark accents */

    /* Backgrounds */
    --color-background-light: #f1f1f1; /* Light gray background */
    --color-background: #ececec; /* Pure white background */

    /* Accent Colors */
    --color-accent: #0056b3; /* Dark Blue for accents */
    --color-accent-hover: #003f88; /* Even darker blue for hover effects */
  }
}
